<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
        <title>About</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.png">
    </head>
    <body>
        <div class="about">
        <h1>About</h1>
        <hr>
        <p>
            Wordcount Warriors is a project<br>
            designed to help writers track their writing<br>
            progress across projects. Once you make an<br>
            account you'll have the ability to add and<br>
            remove projects, log words, track your progress,<br>
            and more.<br>
        </p>
        <form>
            <a href="/home">
                <input type="button" value="Home">
            </a>
        </form>
    </div>
    </body>
</html>